$dark-blue: #061621;
$orange: #DB4437;
$lightGreen: #e0ece4;
$white: #fff;
$primary-white: #f0f2f5;
$white-light: #e0e0e0;
$white-dark: #d0d0d0;
$black: #232425;


$font-xlg: 2rem;
$font-lg: 1.5rem;
$font-med: 1.125rem;
$font-sm: 0.875rem;

$pad-xlg: 2rem;
$pad-lg: 1.5rem;
$pad-med: 1.125rem;
$pad-sm: 0.75rem;

$mar-xlg: 2rem;
$mar-lg: 1.5rem;
$mar-med: 1.125rem;
$mar-sm: 0.75rem;

$radius-lg: 10px;
$radius-sm: 4px;

$font-fam: 'Padauk', sans-serif;
$font-fam-c: Calibri, sans-serif;

$letter-sp-lg: 5px;
$letter-sp-sm: 3px;
$letter-sp-xsm: 1px;

