.ChatTab {
  flex: 1;
  width: 100%;
  min-width: 360px;

  &-noTabOpen {
    padding: 2rem;
    font-weight: bolder;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
  }

  .Chat {
    background-color: #f7f7f7;
    flex-grow: 1;
  }

  .Message-type {
    height: 80px;
    background-color: #f0f2f5;
    padding: 10px;

    textarea {
      resize: none;
      flex-grow: 1;
      padding: 15px;
      outline: none;
      border: none;
      background-color: #e0e0e0;
      font-size: 1.2rem;
      width: 100%;
      border-radius: 5px;
    }

    button {
      height: calc(10vh - 20px);
    }
  }
}
@media only screen and (max-width: 720px) {
  .ChatTab{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000000000000000;
  }
}