.Login{
  background-color: rgb(6, 22, 33);
  width: 100%;
  height: 100vh;
  &-img,&-button{
    flex: 1;
  }
  &-img{
    img{
      width: 200px;
    }
  }
  &-button{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Calibri,sans-serif;
    letter-spacing: 5px;
    margin: 20px;
    h3{
      margin-bottom: 2rem;
      color: #d0d0d0;
    }
    button{
      padding: 10px;
      background-color: #d0d0d0;
      font-family: Calibri,sans-serif;
      font-size: 1.12rem;
    }
    button:hover{
      background-color: #DB4437;
      color: #d0d0d0;
    }
  }
}