@import "variable";
.Login {
  background-color: $dark-blue;
  width: 100%;
  height: 100vh;
  &-card {
    z-index: 1;
    padding: $pad-xlg;
    margin: $mar-med;
    border-radius: $radius-lg;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1),
    inset 5px 5px 8px rgba(0, 0, 0, 0.2);
  }

  &-img, &-button {
    flex: 1;
    justify-content: center;
  }

  &-img {
    img {
      max-width: 200px;
      animation: appear 1.5s;
    }
  }

  &-button {
    text-align: center;
    font-size: $font-lg;
    text-transform: uppercase;
    font-family: Calibri, sans-serif;
    letter-spacing: $letter-sp-sm;
    margin: $mar-med 0;

    h3 {
      margin-bottom: $mar-sm;
      color: $white-dark;
      position: relative;
      top: 0;
      visibility: hidden;
      animation: bounce 2s cubic-bezier(0.6, 1.7, 0.3, 0.72) forwards;
      animation-delay: 1s;
    }

    button {
      position: relative;
      left: 100%;
      visibility: hidden;
      animation: slide-in 1.5s cubic-bezier(0.6, 1.7, 0.3, 0.72) forwards;
      animation-delay: 1s;
      padding: $pad-sm;
      background-color: $white-dark;
      font-family: $font-fam-c;
      font-size: $font-med;
      letter-spacing: $letter-sp-sm;
    }

    button:hover {
      background-color: $orange;
      color: $white-dark;
    }
  }
}