@import "variable";
.Messages{
  flex-grow: 1;
  .Messages-container {
    overflow-y: auto;
    height: calc(100vh - 56px - 80px);
    .Message {
      padding: $pad-sm;
      margin: $mar-sm;
      border-radius:$radius-lg;
      color: $black;
      letter-spacing: $letter-sp-xsm;
      font-size: $font-med;
      word-break: break-all;
      white-space: normal;
    }

    .sender {
      background-color: #f0f2f5;
      max-width: 50%;
      margin-left: auto;
    }

    .receiver {
      background-color: $lightGreen ;
      max-width: 50%;
      margin-right: auto;
    }
  }
}