.SideBar {
  min-width: 360px;
  flex-shrink: 1;
  border-right: 1px solid #e0e0e0;

  &-search {
    height: 56px;
    background-color: #f0f2f5;
    padding: 0.75rem;
    border-bottom: 1px solid #e0e0e0;

    input {
      width: 100%;
      padding: 0.75rem;
      border-radius: 5px;
      outline: none;
      background-color: #e0e0e0;
      border: none;
    }
  }
}

@media only screen and (max-width: 720px) {
  .SideBar{
    flex-grow: 1;
    width: 100%;
  }
}