@import "variable";

.TopNav {
  height: 56px;
  background-color: $primary-white;
  padding: 0.5rem;
  width: 100%;
  border-bottom: 1px solid $white-light;
  position: sticky;
  top: 0;

  .MuiIconButton-root {
    padding: 4px 12px;
  }

  nav {
    height: 100%;
  }
}
