@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import "./components/scss/variable";
@import "global";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font_fam;
  overflow: hidden;
}